%p
  Bonjour,
  Vous venez de remportez @auction.product.name .
  Notre équipe prendra contact avec vous dans les meilleurs délais pour fixer les modalités de livraison.
  Toutes nos félicitations et à très bientôt pour une nouvelle enchère

  DakarClic.
