.chat_window
  .top_menu
    .buttons
      .button.close
      .button.minimize
      .button.maximize
    .title Chat
  %ul.messages#media-list
    = render "comment"
  .bottom_wrapper.clearfix
    = form_for @comment, remote: true do |f|
      %input#user_id{:type => "hidden" , :value => (current_user.id unless current_user.nil?) }
      .message_input_wrapper
        = f.text_field :body, class: 'message_input', required: true, placeholder: "Type your message here..."
      -if current_user
        .send_message#send-msg-btn
          .icon
          .text
            Envoyer
      -else
        .send_message
          %a{:href => "#login-modal", :title => "Envoyer" , "data-toggle" => "modal"}
            .icon
            .text
              Envoyer
= javascript_include_tag "chat"
