/ breadcumb-area start
.breadcumb-area
  .container
    .row
      .col-md-12
        %ol.breadcrumb
          %li.home
            %a{:href => "index.html", :title => "Go to Home Page"} Home
          %li.active Login
        / breadcumb-area end
/ About area start
.about-us-area.pb50
  .container
    .row
      .blog-mdle
        .col-md-8.col-sm-8.col-xs-12.col-md-offset-2
          .about-text-left
            %h3 QUI SOMMES NOUS ?
            %p DAKAR-CLIC est un site internet spécialisé dans la vente aux enchères. Nous offrons la possibilité à notre clientèle d’empocher des produits de qualité, et rigoureusement sélectionnés à des prix symboliques. La garantie qualité de nos produits est assurée grâce à nos différents partenariats avec plusieurs boutiques de renommée internationale.
            %p.past-p
              Tu veux faire la bonne affaire? Inscris toi sur le site, achète des COINS et participe aux enchères en toute confiance.
.about-slider-area.slide-btn.pt50.pb50
  .container
    .row
      .col-md-8.col-sm-8.col-xs-12.col-md-offset-2
        .testimo
          %h3 MODE D’EMPLOI
          .sp-bubble{style:  "color: #fff !important"}
            %h4 ETAPE 1 : INSCRIVEZ-VOUS
            %p Inscris toi sur le site pour enfin devenir un membre de la famille DAKAR-CLIC. Pour cela, il suffit de te rendre à la page d’accueil, et de cliquer sur l’onglet « inscription » (en haut à droite). Remplis simplement le formulaire d’inscription et BOOM... te voilà membre.
            %cite
              %span>
              Barbara J. Pennebaker
          .sp-bubble{style:  "color: #fff !important"}
            %h4 ETAPE 2 : ACHETEZ DES COINS
            %p
              Les coins te permettront de participer aux enchères. 1 coin= 1clic = 100 FCFA,  donc 20 coins = 20 clics = 2.000 FCFA. Pour acheter les coins, il suffit simplement de taper le #336# et de suivre les différentes étapes. Tes achats seront directement défalqués sur ton crédit.
              %br
              NB : Le service #336# concerne uniquement les abonnés Orange.
              %br
              Pour les autres, il suffit d’envoyer le montant équivalent au nombre de coins que tu veux (Exemple : 1.000 FCFA pour 10 coins) :
              %ul
                %li
                  Via Orange-Money en faisant un dépôt au 77 715 52 61 ou au 77 655 81 56
                %li
                  Via Wari, Jony-Jony ; Woyofal... au nom de...
                %li
                  Via la Banque en faisant un virement ou un versement sur le Numéro de compte :
              %br
              Une fois que tu auras effectué le dépôt d’argent, n’oublie pas de nous envoyer par SMS au 77 175 52 61/ 77 655 81 56, par mail sur DakarClic@yahoo.fr ou directement sur notre site en cliquant sur « Nous contacter » les infos suivantes : ton nom, le montant déposé et le code du transfert. Ces informations nous permettrons de recharger automatiquement ton compte par le nombre de coins achetés.

            %cite
              %span>
              Barbara J. Pennebaker
          .sp-bubble{style:  "color: #fff !important"}
            %h4 ETAPE 3 : CONSULTEZ LES PRODUITS QUI VOUS INTERESSENT
            %p Maintenant que tu as tes coins, c’est le moment d’être futé. Va sur le site, et fais le tour des enchères en cours. Cible les produits qui t’intéresse et met en place ta stratégie.
            %cite
              %span>
              Barbara J. Pennebaker
          .sp-bubble{style:  "color: #fff !important"}
            %h4 ETAPE 4 : PLACE AU JEU !!!
            %p
              Les règles du jeu sont simples. Pour chaque produit, il y a un compte à rebours. Dès que tu cliques sur « GO », tu passes temporairement à la tête des enchères sur ce produit et tu deviens ainsi le potentiel vainqueur. Par contre, lorsqu’un autre utilisateur vient cliquer après toi, c’est lui qui reprend la première place. A chaque fois que tu cliques sur « GO », tu perds un COIN, il faudra donc répliquer stratégiquement. Les enchères s’arrêtent dès que le compte à rebours prend fin. Le vainqueur final, c’est-à-dire celui qui empochera le produit sera l’utilisateur qui était à la tête des enchères lorsque le compte à rebours s’est arrêté.
              NB : Pendant les 30 dernières minutes, le compte à rebours augmente de 30 secondes à chaque clic d’un utilisateur. Ces 30 secondes ont été instaurées pour donner le temps aux autres utilisateurs de répliquer s’ils le souhaitent.

            %cite
              %span>
              Barbara J. Pennebaker
          .sp-bubble{style:  "color: #fff !important"}
            %h4 ETAPE 5 : LA LIVRAISON DU COLIS
            %p
              Lorsque que tu remportes  une enchère, tu reçois ton produit dans un délai de 48H au maximum. La livraison est gratuite pour tous les utilisateurs résidents à Dakar.
              Pour une meilleure exigence qualité, certains produits nous sont directement livrés d’Europe ou des USA. La livraison de ces dits produits peut parfois prendre un délai de 3 à 5 jours.

            %cite
              %span>
              Barbara J. Pennebaker
  .about-slider-area.slide-btn.pt50.pb50
    .container
      .row
        .col-md-12.col-sm-12.col-xs-12
          %h3 What We Do
          .about-slider.new-arri-total.no-bdr.carousel-btn.pt20
            .single-slider
              .col-md-6
                %h4
                  %span
                    %i.fa.fa-bar-chart
                  Web Development
                %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis consequat. Etiam pharetra vestibulum urna sed
              .col-md-6
                %h4
                  %span>
                    %i.fa.fa-users
                  Custom Work
                %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis consequat. Etiam pharetra vestibulum urna sed
            .single-slider
              .col-md-6
                %h4
                  %span
                    %i.fa.fa-laptop
                  Web, UI Design
                %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis consequat. Etiam pharetra vestibulum urna sed
              .col-md-6
                %h4
                  %span>
                    %i.fa.fa-signal
                  SEO Optimizing
                %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis consequat. Etiam pharetra vestibulum urna sed