/ breadcumb-area start
.breadcumb-area
  .container
    .row
      .col-md-12
        / breadcumb-area end
/ About area start
.about-us-area.pb50
  .container
    .row
      .blog-mdle
        .col-md-8.col-sm-8.col-xs-12.col-md-offset-2
          .about-text-left
            %h3 COMMENT CA MARCHE ?
            =image_tag "planche.jpg" ,:title => "Planche"
            .sp-bubble
              %p Le vainqueur de l'enchère est l'utilisateur en tête à la fin du compte à rebours.
.about-slider-area.slide-btn.pt50.pb50
  .container
    .row
      .col-md-8.col-sm-8.col-xs-12.col-md-offset-2
        .testimo
          %h3 Qu'est ce que DakarClic?
          .embed-container
            =embed "https://www.youtube.com/watch?v=JX7qV0tAFuE"
          %br
          %h3 Comment S'inscrire?
          .embed-container
            =embed "https://www.youtube.com/watch?v=UIOJYnOxfuw"
          %br
          %h3 Comment acheter des unités?
          .embed-container
            =embed "https://www.youtube.com/watch?v=JX7qV0tAFuE"
          %br
          %h3 Comment gagner une enchère?
          .embed-container
            =embed "https://www.youtube.com/watch?v=JX7qV0tAFuE"
          .sp-bubble.notabene{style:  "color: #fff !important"}
            %h4 NB
            %p
              A partir des 30 dernières secondes, le compte à retours augmente de 30 secondes à chaque nouveau clic.
              %br
              C'est le temps de donner aux autres utilisateurs de réagir.
