/ breadcumb-area start
.breadcumb-area
  .container
    .row
      .col-md-12
        %ol.breadcrumb
          %li.home
            %a{:href => "index.html", :title => "Go to Home Page"} Home
          %li.active Login
        / breadcumb-area end
/ About area start
.about-us-area.pb50
  .container
    .row
      .col-md-12
        .blog-top.pb30
          .blogpage-date
            23
            %span jul 2025
          .artical-title
            %a{:href => "#"} About Us
            .user
              %span>
                %i.fa.fa-user
              Trung Tran
            .shortcode
              %a{:href => "#"}
                %span>
                  %i.fa.fa-folder-open-o
                Shortcode
      .blog-mdle
        .col-md-8.col-sm-8.col-xs-12
          .about-text-left
            %h3 Some Things About Us
            %p Morbi rutrum, elit ac fermentum egestas, tortor ante vestibulum est, eget scelerisque nisl velit eget tellus. Fusce porta facilisis luctus. Integer neque dolor, rhoncus nec euismod eget, pharetra et tortor. Nulla id pulvinar nunc. Vestibulum auctor nisl vel lectus ullamcorper sed pellentesque dolor eleifend. Praesent lobortis magna vel diam mattis sagittis. Mauris porta odio eu risus scelerisque id facilisis ipsum dictum.
            %p.past-p
              Vitae volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar neque eu purus sollicitudin et sollicitudin dui ultricies. Maecenas cursus auctor tellus sit amet blandit.
              %span Maecenas a erat ac nibh molestie interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed lorem enim, ultricies sed sodales id, convallis molestie ipsum. Morbi eget dolor ligula. Vivamus accumsan rutrum nisi nec elementum. Pellentesque at nunc risus. Phasellus ullamcorper bibendum varius.
        .col-md-4.col-sm-4.col-xs-12
          .testimo
            %h3 Testimonials
            .sp-bubble
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.Donec non dui velit, a posuere dui.
              %cite
                %span>
                Barbara J. Pennebaker
            .sp-bubble
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.Donec non dui velit, a posuere dui.
              %cite
                %span>
                Barbara J. Pennebaker
  .about-slider-area.slide-btn.pt50.pb50
    .container
      .row
        .col-md-12.col-sm-12.col-xs-12
          %h3 What We Do
          .about-slider.new-arri-total.no-bdr.carousel-btn.pt20
            .single-slider
              .col-md-6
                %h4
                  %span
                    %i.fa.fa-bar-chart
                  Web Development
                %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis consequat. Etiam pharetra vestibulum urna sed
              .col-md-6
                %h4
                  %span>
                    %i.fa.fa-users
                  Custom Work
                %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis consequat. Etiam pharetra vestibulum urna sed
            .single-slider
              .col-md-6
                %h4
                  %span
                    %i.fa.fa-laptop
                  Web, UI Design
                %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis consequat. Etiam pharetra vestibulum urna sed
              .col-md-6
                %h4
                  %span>
                    %i.fa.fa-signal
                  SEO Optimizing
                %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel sapien mattis consequat. Etiam pharetra vestibulum urna sed