-if @auction.ended?
  =render "auctions/status"
-else
  %input#user_id{:type => "hidden" , :value => (current_user.id unless current_user.nil?) }
  %input#auction_id{:type => "hidden" , :value => @auction.id}
  %p
    .cart-btn.nopad
      -if current_user
        %button#send_bid_btn.btn.btn-primary.customenc
          Enchérir
      -else
        %a{:href => "#login-modal", :title => "Enchérir" , "data-toggle" => "modal" , class: "customenc"}
          Enchérir
= javascript_include_tag "auction.bid"
