-if @auction.ended?
  =render "auctions/status"
-else
  %input#user_id{:type => "hidden" , :value => (current_user.id unless current_user.nil?) }
  %input#auction_id{:type => "hidden" , :value => @auction.id}
  %p
    .cart-btn.nopad
      -if current_user
        %button{:title => "GO" , id: "send_bid_btn" , class: "btn btngo customenc", "data-auction" =>"#{@auction.id}"}
          GO
      -else
        %button{"data-target" => "#login-modal", :title => "GO" , "data-toggle" => "modal" , class: "btn btngo customenc"}
          GO
= javascript_include_tag "auction.bid"
