-if @auction.ended?
  =render "auctions/status"
-else
  =form_for [@auction, Bid.new] do |f|
    -#%p
    -#  %strong
    -#    -if @product.auction.top_bid.present?
    -#      -if @product.auction.top_bid.user_id == current_user.id
    -#        Current bid:
    -#      -else
    -#        You were outbid:
    -#    -else
    -#      Current bid:
    -#
    -#    =@product.auction.current_bid
    %p
      .cart-btn.nopad
        =f.button "Enchérir", class: "btn btn-primary customenc", id: "send_bid_btn"
        -#-else
        -#  %a.white{:href => "#", :title => "Enchérir"}
        -#    Enchérir

:javascript

  $(function(){

    App = {
     websocket_url: "ws://#{request.host}:#{request.port}/"
    };

    var user_id = "#{current_user.id}";
    var auction_id = "#{@auction.id}";
    var form = $("#new_bid");

    var auctionSocket = new AuctionSocket(
      user_id,
      auction_id,
      form
    );


  });
