.best-deals-area.pt60#closed
  .row
    .col-md-12
      .title
        %h1 Enchères terminées
  .row.row-padd
    - @auctions.each do |auction|
      .col-padd-custom
        .single-product{:id => "auction#{auction.id}"}
          .av_title= auction.product.name
          .product-img
            %a{:href => "#"}
              =image_tag auction.product.image
            .best-deal-tag
          .single-product-text
            .price-type
              .old-price
                %span= auction.topbid_user
              .running-price
                %span.price-custom{"data-productid" => auction.product.id} #{auction.value} FCFA
