.best-deals-area.pt60#closed
  .container
    .row
      .col-md-12
        .title.pb30
          %h1 Enchères terminées
    .row.row-padd
      .col-md-3.col-sm-3.col-padd-custom
        .single-product
          .av_title Vélo
          .product-img
            %a{:href => "#"}
              =image_tag "product/h3-380x380.jpg"
            .best-deal-tag
          .single-product-text
            .price-type
              .old-price
                %span moussa98
              .running-price
                %span.price-custom 40000FCFA
      .col-md-3.col-sm-3.col-padd-custom
        .single-product
          .av_title Sac de Sport
          .product-img
            %a{:href => "#"}
              =image_tag "product/h4-380x380.jpg"
            .best-deal-tag
          .single-product-text
            .price-type
              .old-price
                %span moussa98
              .running-price
                %span.price-custom 40000FCFA
      .col-md-3.col-sm-3.col-padd-custom
        .single-product
          .av_title Pack Apple
          .product-img
            %a{:href => "#"}
              =image_tag "product/h11-380x380.jpg"
            .best-deal-tag
          .single-product-text
            .price-type
              .old-price
                %span moussa98
              .running-price
                %span.price-custom 40000FCFA
      .col-md-3.col-sm-3.col-padd-custom
        .single-product
          .av_title Kit Bluetooth
          .product-img
            %a{:href => "#"}
              =image_tag "product/h9-380x380.jpg"
            .best-deal-tag
          .single-product-text
            .price-type
              .old-price
                %span moussa98
              .running-price
                %span.price-custom 50000FCFA
