.best-deals-area.pt60#online
  .row
    .col-md-12
      .title
        %h1 Enchères en cours
      .pull-right
        .btn.seemore
          =link_to "Plus" , "#"
  .row.row-padd
    -@auctions = Auction.active(10,'created_at DESC') if current_page?(root_url)
    -@auctions.each do |auction|
      - @auction = auction
      =render "auctions/single_preview"
%input#user_id{:type => "hidden" , :value => (current_user.id unless current_user.nil?) }