.best-deals-area.pt60#online
  .row
    .col-md-12
      .title
        %h1 Enchères en cours
      .pull-right
        .btn.seemore
          =link_to "Plus" , "#"
  .row.row-padd
    - @auctions.each do |auction|
      .col-padd-custom
        .av_title= auction.product.name
        .av_image
          .center
            %a.image{:href => "#"}
              =image_tag auction.product.image ,class: "style_image_auction"
        .av_timer
          .timer_alert{"data-countdown" => auction.auction_close}
        .av_price
          .price{"data-productid" => auction.product.id} #{auction.value} FCFA
        .av_winner
          .winner
            winner
          .winner
            winner
          .winner
            winner
        .center
          -if !current_user
            %a.white{:href => "#login-modal", :title => "GO" , "data-toggle" => "modal", class: "btngo" }
              GO
          -else
            =link_to "GO", auction, :title => "GO" , class: "btngo"
-#-if current_user
-#  =link_to "GO", auction, data: { toogle:"modal" , target: "#auction-modal"} , :title => "GO" , class: "btngo"
-#-else
-#  %a.white{:href => "#login-modal", :title => "GO" , "data-toggle" => "modal", class: "btngo" }
  -#    GO
#infinite-scroll
  = will_paginate @auctions
