%li.infogagn
  -if @auction.top_bid.present?
    -if @auction.top_bid.user ==current_user
      Félicitations , vous êtes le gagnant.
    -else
      Desolé, vous avez perdu l'enchère.
  -else
    L'enchère n'a malheureusement pas de gagnant!
