.area-slider.pt60
  .row
    .col-md-8.col-sm-12.col-xs-12.ar-sl
      / slider
      .slider-area2
        .bend.niceties.preview-2
          #ensign-nivoslider-3.slides
            =image_tag "slider/s1.jpg", :title => "#slider-direction-1"
            =image_tag "slider/s2.jpg", :title => "#slider-direction-2"
            =image_tag "slider/s3.jpg", :title => "#slider-direction-3"
          / direction 1
          #slider-direction-1.t-cn.slider-direction
            / layer 1
            .layer10
              =image_tag  "slider/slide2_caption.png"
              .rm-btn
                %a{:href => "#"} Read More
          / direction 2
          #slider-direction-2.slider-direction
            / layer 1
            .layer11
              =image_tag  "slider/slide1_caption.png"
              .rm-btn
                %a{:href => "#"} Read More
          / direction 3
          #slider-direction-3.slider-direction
            / layer 1
            .layer12
              =image_tag  "slider/slide3_caption.png"
              .rm-btn
                %a{:href => "#"} Read More
    / slider end
    .col-md-4.hidden-sm.hidden-xs.td-item.popins-font
      .title.t-bdr.pb30
        %h1 ENCHERE STAR
      .single-product
        -begin
          -@auction = Auction.active.select("count(bids.id) as nbr_bid, auctions.*").from("bids, auctions").where("bids.auction_id = auctions.id").order("nbr_bid DESC").group("auctions.id, bids.id").first
          -rescue
            - @auction = nil
        - unless @auction.nil?
          .col-padd-custom{:class => "auction"+@auction.id.to_s}
            %input{:type => "hidden" , :value => @auction.id}
            .av_title= @auction.product.name
            .av_image
              .center
                %a.image{:href => auction_path(@auction.id)}
                  =image_tag @auction.product.image ,class: "style_image_auction"
            .av_timer
              .timer_alert{"data-countdown" => @auction.auction_close}
            .av_price
              .price
                #{@auction.value} FCFA
              =image_tag "icon/price.png", class: "bg-price"
            .av_winner{class: @auction.podium.size}
              -@auction.podium.each_with_index do |name, index|
                .winner
                  ="#{index+1}- #{name}" unless name.nil?
            .center
              -if !current_user
                %a.white{:href => "#login-modal", :title => "GO" , "data-toggle" => "modal", class: "btngo" }
                  GO
              -else
                -#=link_to "GO", auction, :title => "GO" , class: "btngo"
                %button.send_home_btn.btn.btngo
                  GO
