.slider-area2
  .bend.niceties.preview-2
    -@sliders = Slider.all
    #ensign-nivoslider-3.slides
      -@sliders.each do |slider|
        =image_tag slider.image, :title => "##{slider.created_at.to_i}"
    -@sliders.each_with_index do |slider, index|
      / direction 1
      .slider-direction{:id => slider.created_at.to_i, :class => ("t-cn" if index == 0)}
        / layer 1
        .layer10
          =image_tag slider.content
          -unless slider.link.nil? || slider.link == ""
            .rm-btn
              %a{:href => slider.link} Read More
