%section#top.text-center.vertical-space-lg
  .logo
    %a{:href => "#{root_path}"}
      =image_tag "icon/check.png"
  %h1.headline Merci !
  %h5.headline-support Votre paiement a été bien validé .
%p.text-center
  %a.btn.btn-link{:href => "#{root_path}"} ← Revenir à l'accueil
