%section#top.text-center.vertical-space-lg
  .container
    .logo
      %a{:href => "#"}
        =image_tag "icon/check.png"
    %h1.headline Thank you!
    %h5.headline-support Your payment is received and we will contact you soon.
%p.text-center
  %a.btn.btn-success.btn-lg{:href => "#"} Buy this Template Now
%p.text-center
  %a.btn.btn-link{:href => "#"} ← Back to Home