/*Customize color */
a{
  color: #fff;
}
.b_static_footer, .b_static_footer h1 {
  color:rgba(48, 48, 47, 0.86) !important;
  text-align: center;
}
.home-4-waraper .main-header {
  background: #f4f4f2 none repeat scroll 0 0;
}
.single-prodcut-des .infogagn, .single-prodcut-des h3{
  color: #1253a4;
}
.single-prodcut-des li{
  color: #30302f;
}
footer a {
  font-size: 16px;
  color: #f4f4f2;
}
.powered-payment{
  background-color: #30302f;
}

.menu-area ul li > a {
  text-transform: uppercase;
  font-weight: bold;
}
.forgotten a:hover{
  color:#ffd464 !important;
}
.desprice{
  color: #1253a4 !important;
}

.home-4-waraper a:hover{
  color: #1253a4;
}

.cart-btn > a:hover, .cart-btn2 a{
  background: #ffd464 none repeat scroll 0 0 !important;
  border: 1px solid #ffd464;
  color: #fff;
}

.cart-btn > a:hover, .cart-btn2 a:hover{
  background: #ffd464 none repeat scroll 0 0;
  border: 1px solid #ffd464;
  color: #fff;
}
.home-4-waraper .menu-area ul li > a{
  border: 3px solid rgba(255,255,255,0);
  font-family: "Comic Sans MS";
  //border-bottom: none;
}
.home-4-waraper .menu-area ul li a:hover, .home-4-waraper .menu-area ul li:hover > a {
  background: #fff;
  border-bottom: 3px solid #ffd464;
  color: #30302f;
}
.home-4-waraper .language .dropdown-menu li a:hover,
.home-4-waraper .language .dropdown-menu li button:hover,
.home-4-waraper .currency .dropdown-menu li a:hover,
.home-4-waraper .currency .dropdown-menu li button:hover {
  color: #ffd464;
}
.cart-btn.common4 > a, .cart-btn.nopad a {
  background: #ffd464 none repeat scroll 0 0 !important;
}
.cart-btn.common4 > a:hover,.btngo:hover {
  background: #ffd464 none repeat scroll 0 0;
  border: 1px solid #ffd464;
  color: #fff;
}

.slider-area2 .bend .rm-btn a,
.slider-area2 .rm-btn2 a {
  background-color: #ffd464;
  border: 1px solid #ffd464;
  color: #fff;

}
.slider-area2 .bend .rm-btn a:hover,
.slider-area2 .rm-btn2 a:hover {
  color: #ffd464;
}
.preview-2 .nivo-controlNav a:hover,
.preview-2 .nivo-controlNav a.active {
  background: #ffd464 none repeat scroll 0 0;
}
.common4 .input-box a i {
  background: #1253a4 none repeat scroll 0 0;
}
.common4 .input-box a i:hover{
  background: #1253a4 none repeat scroll 0 0;
}
.home-4-waraper .bt-information .b_static_footer {
  background: #ffd464 none repeat scroll 0 0;
}

.home-4-waraper .search-bar > input, .input-box input{
  border: 1px solid #1253a4;
}
.home-4-waraper .search-bar > input[placeholder]{
  color: #000;
}
.home-4-waraper .search-bar {
  color: #1253a4;
}
.home-4-waraper .menu-area{
  background-color: rgba(255, 212, 100, 0.81);
}
.home-4-waraper .mobile-menu-area{
  background-color:rgba(255, 212, 100, 0.81);
  border-bottom: 2px solid #ffd464;
}
.home-4-waraper .mean-container .mean-nav ul li a:hover{
  color: #ffd464;
}
.menu-area ul li > a{
  color: #333;
  font-size: 14px;
  line-height: 10px;
  padding: 20px 20px;
}
.mean-container a.meanmenu-reveal{
  color: #333;
}

.dropdown-menu-right {
  right: auto;
}
.btn{
  padding: 6px 10px;
}
footer {
  background-color: #868686;
}

#scrollUp{
  background: #ffd464 none repeat scroll 0 0;
}
#scrollUp:hover{
  border-color: #ffd464;
  color: #ffd464;
}
.b_header_middle {
  background-color:rgb(254, 219, 125);
}
.language strong b, .currency strong b,
.b_header_middle .contact,
.b_header_middle .contact a,
.b_header_middle .top_right
.footer-social ul li a,.btn-link:hover, .btn-link:focus{
  color: #fff;
}
.language strong b:hover,
.currency strong b:hover,
.b_header_middle .contact:hover,
.b_header_middle .contact a:hover,
.b_header_middle .top_right .footer-social ul li a:hover{
  color: #ffd464;
}
.bt-information a img {
  height: 60px;
  margin-left: 40%;
}
.btn-login,.btn-register,.wishlist-total,.my_account{
  line-height: 63px;
}
.wishlist-total,.my_account{
  color: #30302f;
}
.btn-register{
  color: #1253a4 ;
}

.btn-login,.seemore {
  color: #ffd464!important;
}

.old-price span{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.panel-heading {
  background-color: #ffd464;
  border: 1px solid #ffd464;
}

.time-ratting-bought-custom {
  background: rgba(0, 102, 255, 0.5) none repeat scroll 0 0;
}
.single-product-text {
  background-color: rgba(195, 195, 195, 0.55);
  border-top: 1px solid rgba(48, 48, 47, 0.5);
  box-shadow: 0 1px 5px 0  rgba(205, 205, 205, 0.86);
}
.common-btn .btn.btn-primary{
  background: #fff none repeat scroll 0 0;
  color: #1253a4;
  border: 1px solid #1253a4;
}
.common-btn .btn.btn-primary:hover{
  background: #1253a4 none repeat scroll 0 0;
  color: #fff;
}

.frm-action{
  background: rgba(0, 102, 255, 0.5) none repeat scroll 0 0;
  border-color: rgba(0, 102, 255, 0.5);
}
div.frm-action span{
  color: #fff;
}

.modal-backdrop.fade.in ~ .modal-backdrop.fade.in {
  background: none;
}
/*Customize color */
.av_title {
    background: rgba(0, 102, 255, 0.5) none repeat scroll 0 0;;
    font-weight: bold;
    height: 38px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.av_image {
  text-align: left;
  vertical-align: middle;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 8px;
}

.av_timer {
  height: 30px;
}
.av_timer .timer_alert {
  background: rgba(0, 102, 255, 0.5) none repeat scroll 0 0;
  color: #be1818;
}

div.av_timer div.timer, div.av_timer div.timer_alert, div.av_timer div.timer_inverse, div.av_timer div.timer_finished {
  font-weight: bold;
  text-align: center;
  margin: 3px auto;
  padding: 2px;
  line-height: 20px;
}
.av_price{
  padding: 7px 17px;
  height: 45px;
}

.padleft60{
  padding-left: 18% !important;
}
.av_price .price{
  position: absolute;
  z-index: 10;
  padding-left: 10px;
  padding-top: 5px;
}


.av_price .bg-price{
  position: absolute;
  width: 160px;
}
div.av_price div.price {
  margin: 0px auto;
  width: 130px;
}
div.ah_details div.price, td.al_price div.price, div.av_price div.price, span.span_price {
  font-size: 18px;
  font-weight: bold;
  color: #b90101;
  text-align: center;
  white-space: nowrap;
}

div.av_price .price_inverse{
  margin: 0px auto;
  width: 130px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  text-align: center;
  white-space: nowrap;
}


div.av_winner {
  margin-top: 1px;
  margin-bottom: 8px;
}

div.winner {
  color: #0e8fbf;
  height: 14px;
  text-align: justify;
  padding-left: 40%;
  font-size: 15px;
}

.center{
  text-align:  center !important;
}
.av_image .image {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  width: 110px;
  height: 100px;
  margin: 0px auto;
}

.seemore a {
  font-family: "Roboto", sans-serif;
  color : #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.col-padd-custom{
  //padding: 10px
  background-color: #fff;
  width: 186px;
  height: 100%;
  border: solid 1px #e1e1e1;
  float: left;
  margin: 1px 22px 15px 22px;
  padding-bottom: 5px;
}

.time-ratting-bought-custom {
  bottom: 0;
  color: #fff;
  height: 30px;
  left: 0;
  line-height: 30px;
  padding-left: 12px;
  padding-right: 18px;
  position: absolute;
  transform-origin: 0 100% 0;
  transition: all 0.8s ease 0s;
  width: 100%;
}
.bt-information .b_static_footer{
  padding: 0px 21px;
}
.bt-information .b_static_footer p{
  text-align: center;
}
.single-prodcut-des .time-counter{
  font-size: 20px;
}

.time-counter::before,
.home-2-waraper .escapes-area .time-counter::before{
  font-size: 20px;
  margin-left: -25px;
}

.running-price.first-child{
  border-right: 3px solid #f1f1f1;
  padding-right: 50px;
}

.price-custom{
  color :#1253a4  !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}
.slide-auction-closed .col-md-6{
  margin: 10px;
}
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


.mt60{
  margin-top: 60px;
}

.desblockprice{
  margin-top: 15px
}
.artical-title a{
  color: #30302f;
}
.sp-bubble{
  background: #1253a4 none repeat scroll 0 0;
}
.sp-bubble cite span{
  border: 15px solid #ffd464;
}

.single-slider h4 span{
  background: #1253a4;

}

.slide-btn .owl-buttons div i:hover{
  background: #ffd464 none repeat scroll 0 0;
  border-color: #ffd464;
}



.customenc{
  font-size: 18px;
  font-weight: 700;
}

.nopad{
  padding: 0px !important;
}

.white{
  color:#fff !important;
}

.infogagn {
  font-size :16px;
  font-weight :700
}

.infogagn_inverse{
  background-color: #ccc;
  color :#fff;
  font-size :16px;
}

ul.list-inline > li {
  float: right;
}
.search-bar{
  width: 100%;
}

.modal.account-area{
  padding-top: 40px;
}

.top-links .list-inline li a i{
  top : 0;
  font-size: 18px;
}
.top-links .button.c_button{
  padding: 0px 7px;
}

.modal-body .cart-total table {
  width: 100%;
}
.align-right{
  text-align: right;
}

.dec.qtybutton:hover, .inc.qtybutton:hover{
  background: #ffd464;
  border-color: #ffd464;
}
.cart-total table td.right{
  color: #1253a4;
}
#credit-modal .modal-content{
   background: transparent;
 }
#credit-modal .modal-header, #credit-modal .modal-body{
  background: #ffffff;
}
#credit-modal .modal-footer{
  border-top: 1px solid #ffd464;
  background: rgba(255, 212, 100, 0.8);
}
em{
  color: #1253a4;
}
@media (max-width: 767px){
  ul.list-inline {
    padding-left: 50px;
  }
  ul.list-inline > li {
    margin-right: 50px;
    float: none;
    display: inline-flex;
}
  .shop-wish-item{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
.btn-radio {
  width: 100%;
}
.img-radio {
  opacity: 0.5;
  margin-bottom: 5px;
  height: 100px;
}

#infinite-scroll{
  margin-left: 95px;
}
.space-20 {
  margin-top: 20px;
}

.space-40 {
  margin-top: 40px;
}


.hidden{
  display : none
}

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}
.media-heading {
  margin-bottom: 5px;
  margin-top: 0;
}
.text-muted {
  color: #777777;
}
.media-list {
  list-style: outside none none;
  padding-left: 0;
}

.media {
  margin-top: 15px;
}

.btn-dakarclick{
  color: #fff !important;
  background-color: #1253a4;
  border-color: #1253a4;
}

.card-info .form-control{
  width: 100% !important;
}


* {
  box-sizing: border-box;
}

body {

  background-image: image_url("fond.png");
  font-family: "Calibri", "Roboto", sans-serif;
}
.about-text-left p {
  font-weight: bold;
  font-size: small;
}
.row-padd{
  background-color: #fafcff;
  padding: 20px;
}

.td-item.popins-font{
  background-color: #f7129d;
  padding: 0px;
  margin-left: 3%;
}
.td-item.popins-font .title.t-bdr{
  background: #00aeaf;
  padding: 10px;
  color: #fff;
}
.td-item.popins-font .title.t-bdr > h1{
  text-align: center;
  padding: 1%;
}
.td-item.popins-font .av_title , .td-item.popins-font .av_timer .timer_alert{
  background: #98c831 none repeat scroll 0 0;
}
.td-item.popins-font .btngo{
  background: #f05e12  none repeat scroll 0 0 !important;
}
.td-item.popins-font .col-padd-custom{
  width: 100% !important;
}
.td-item.popins-font div.winner{
  color: #dd0086 ;
}
.td-item.popins-font .padleft60{
  padding-left: 23% !important;
}
.row-title, .page-header{
  background: rgba(24, 87, 165, 0.76);
  padding: 10px;
  color: #fff;
}
.chat_window {
  width: calc(100% - 20px);
  max-width: 800px;
  height: 600px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(0%) translateY(0%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 440px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 5px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 8px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.text_wrapper span{
  float: right;
}
.winner.first{
  font-weight:bold ;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 20%);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 15%;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}


#contentdc{
  margin: 0px auto;
  width : 980px
}


.style_image_phare{
  height: 200px
}

.style_image_auction{
  height: 107px
}

#confirm-order, #cancelAcount{
  color: #000;
}

.list-group-item{
  padding: 20px 0px;

}
.list-group-item.active h4{
  color: #fff;
}
.list-group-item h4{
  color: #000;
}

.btngo {
  background: #ffd464 none repeat scroll 0 0 !important;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
}
.tg-paddingzero{ padding: 0 !important;}
.tg-brands {
  padding: 100px 0 0;
}
.tg-haslayout {
  width: 100%;
  float: left;
}
.tg-brand {
  width: 100%;
  float: left;
  height: 70px;
  cursor: pointer;
  background: transparent;
}
.tg-displaytable {
  width: 100%;
  height: 100%;
  display: table;
}
.tg-displaytablecell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
figure {
  margin-bottom: 6px;
  position: relative;
}
.tg-brand img {
  display: block;
  margin: 0 auto;
  opacity: 0.50;
  max-height: 50px;
}
.nomag{
  margin : 0px !important;
}

@-webkit-keyframes flash-color {
  0% {
    background: #ffffff;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#ffffff), color-stop(100%,#cccccc));
    background: linear-gradient(to bottom, #ffffff 38%,#cccccc 100%);
  }
  50% {
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#ffffff), color-stop(100%,#e17373));
    background: -webkit-linear-gradient(top, #ffffff 35%,#e17373 100%);
    background: linear-gradient(to bottom, #ffffff 35%,#e17373 100%);
  }
  100% {
    background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#ffffff), color-stop(100%,#cccccc));
    background: linear-gradient(to bottom, #ffffff 38%,#cccccc 100%);
  }
}

.timeTo-alert {
  -webkit-animation-name: flash-color;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


.notabene{
    background: #26bf43 none repeat scroll 0 0 !important;
    font-family: "Comic Sans MS";
    font-weight: bold;
}