.menu-area
  .container
    .row
      .col-md-12
        %nav
          %ul
            %li
              %a{:href => root_path}
                Accueil
            %li
              -if request.original_url == root_url
                %a{:href => "#online"} En Cours
              -else
                %a{:href => root_url << "#online"} En Cours
            %li
              -if request.original_url  == root_url
                %a{:href => "#coming"} A venir
              -else
                %a{:href => root_url << '#coming'} A venir
            %li
              -if request.original_url  == root_url
                %a{:href => "#closed"} Terminées
              -else
                %a{:href => root_url << '#closed'} Terminées
            %li
              %a{:href => "/how_it_works"} Comment ça marche
            %li
              %a{:href => "/submission"} Proposez vos produits
            %li
              %a{:href => "/talking"} Le parlement
