.menu-area
  .container
    .row
      .col-md-12
        %nav
          %ul
            %li
              %a{:href => root_path}
                Accueil
            %li
              %a{:href => auctions_path(:filter => 'online')} En Cours
            %li
              %a{:href => auctions_path(:filter => 'coming')} A venir
            %li
              %a{:href => auctions_path(:filter => 'closed')} Terminées
            %li
              %a{:href => '/how_it_works'} Comment ça marche
            %li
              %a{:href => submissions_path} Proposez vos produits
            %li
              %a{:href => comments_path} Le parlement
