.mobile-menu-area
  .container
    .row
      .col-sm-12
        %nav#dropdown
          %ul
            %li
              %a{:href => root_path}
                Accueil
            %li
              -#-if request.original_url  == root_url
              -#  %a{:href => "#online"} En Cours
              -#-else
              -#  %a{:href => root_url << "#online"} En Cours
              %a{:href => online_path} En Cours
            %li
              -if request.original_url  == root_url
                %a{:href => "#coming"} A venir
              -else
                %a{:href => root_url << '#coming'} A venir
            %li
              -#-if request.original_url  == root_url
              -#  %a{:href => "#closed"} Terminées
              -#-else
              -#  %a{:href => root_url << '#closed'} Terminées
              %a{:href => closed_path} Terminées
            %li
              %a{:href => "/how_it_works"} Comment ça marche
            %li
              %a{:href => submissions_path} Proposez vos produits
            %li
              %a{:href => comments_path} Le parlement
