.newslatter-area.common4
  .container
    .row
      .newslla
        .col-md-6.col-sm-12.col-xs-12
          .news-text
            %h3 Newsletter
        .col-md-6.col-sm-12.col-xs-12
          %form{:action => "#", :method => "post"}
            .input-box
              %input{:placeholder => "Votre adresse e-mail  ici", :type => "text"}/
              %a{:href => "#"}
                %i.fa.fa-paper-plane
