.newslatter-area.common4
  .container
    .row
      .tg-brands.tg-paddingzero.tg-haslayout
        .col-sm-2.col-xs-6
          .tg-brand
            .tg-displaytable
              %figure.tg-displaytablecell
                =image_tag "logo/logo_apple.png"
        .col-sm-2.col-xs-6
          .tg-brand
            .tg-displaytable
              %figure.tg-displaytablecell
                =image_tag "logo/logo_samsung.png"
        .col-sm-2.col-xs-6
          .tg-brand
            .tg-displaytable
              %figure.tg-displaytablecell
                =image_tag "logo/logo_aldo.jpg"
        .col-sm-2.col-xs-6
          .tg-brand
            .tg-displaytable
              %figure.tg-displaytablecell
                =image_tag "logo/logo_mac.png"
        .col-sm-2.col-xs-6
          .tg-brand
            .tg-displaytable
              %figure.tg-displaytablecell
                =image_tag "logo/logo-adidas-originals.png"
        .col-sm-2.col-xs-6
          .tg-brand
            .tg-displaytable
              %figure.tg-displaytablecell
                =image_tag "logo/logo_nike.png"