.newslatter-area.common4
  .container
    .row
      .newslla
        .col-md-3.col-sm-12.col-xs-12
        .col-md-3.col-sm-12.col-xs-12
        .col-md-3.col-sm-12.col-xs-12
        .col-md-3.col-sm-12.col-xs-12
